services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "6566:1433" #For login by SSMS -> .,6566
    volumes:
      - sqlvolume:/var/opt/mssql

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmqdata:/var/lib/rabbitmq

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  notification-api:
    build:
      context: .
      dockerfile: Tajan.Notification.API/Dockerfile
    depends_on:
      - sqlserver
      - rabbitmq
    environment:
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=Tajan_Notification;User Id=sa;Password=YourStrong!Passw0rd;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;
      - UseInMemoryDataBase=false
      - UseInMemoryDatabase=false
    ports:
      - "5000:80"

  product-api:
    build:
      context: .
      dockerfile: Tajan.ProductService.API/Dockerfile
    depends_on:
      - notification-api
      - redis
    environment:
      - ConnectionStrings__CoreDbContext=Server=sqlserver;Database=Tajan_Product;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;MultipleActiveResultSets=True;
      - UseInMemoryDataBase=false
      - UseInMemoryDatabase=false
      - Redis__ServiceName=TajanRedis
      - Redis__MasterNode__Host=redis
      - Redis__MasterNode__Port=6379
    ports:
      - "5001:8080"

  product-grpc:
    build:
      context: .
      dockerfile: Tajan.ProductService.gRPCApi/Dockerfile
    depends_on:
      - sqlserver
      - redis
    environment:
      - UseInMemoryDatabase=false
      - UseInMemoryDataBase=false
      - ConnectionStrings__Tajan_Product_Db=Server=sqlserver;Database=Tajan_Product;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;MultipleActiveResultSets=True;
      - Redis__ServiceName=TajanRedis
      - Redis__MasterNode__Host=redis
      - Redis__MasterNode__Port=6379
    ports:
      - "7281:8081"

  order-api:
    build:
      context: .
      dockerfile: Tajan.OrderService.API/Dockerfile
    depends_on:
      - product-api
      - product-grpc
      - rabbitmq
      - redis
    environment:
      - ConnectionStrings__Tajan_Order_Db=Server=sqlserver;Database=Tajan_Order;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;MultipleActiveResultSets=True;
      - PRODUCT_GRPC_URL=http://product-grpc:8080
      - UseInMemoryDataBase=false
      - UseInMemoryDatabase=false
    ports:
      - "5002:8080"
  api-gateway:
    build:
      context: .
      dockerfile: Tajan.ApiGateway/Dockerfile
    depends_on:
      - order-api
      - product-api
      - notification-api
      - identity-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
    ports:
      - "5003:8080"
  identity-api:
    build:
      context: .
      dockerfile: Tajan.Identity.API/Dockerfile
    depends_on:
      - sqlserver
    environment:
      - ConnectionStrings__PD_Identity=Server=sqlserver;Database=Tajan_Identity;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;MultipleActiveResultSets=True;
      - UseInMemoryDataBase=false
      - UseInMemoryDatabase=false
    ports:
      - "5004:80"
volumes:
  sqlvolume:
  rabbitmqdata:
  redisdata:
